body{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.yamatekudasay{
    align-items: center;
    justify-content: center;
    text-align: center;
}